In [20]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer,KNNImputer

In [50]:
df=pd.read_csv('googleplaystore.csv',na_values= "#")
df.head()

,X,App,Category,Rating,Reviews,Type,Last.Updated,Installs
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,Free,1/7/2018,"10,000+"
1,1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,Free,1/15/2018,"500,000+"
2,2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,Free,8/1/2018,"5,000,000+"
3,3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644.0,Free,6/8/2018,"50,000,000+"
4,4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,Free,6/20/2018,"100,000+"

In [51]:
df.isna().sum()

X                  0
App                0
Category           0
Rating          1473
Reviews          200
Type             400
Last.Updated       0
Installs           0
dtype: int64

# mean

In [52]:
mean_Rating=np.round(np.mean(df['Rating']),2)
mean_Rating

4.19

In [53]:
df['Rating']=df['Rating'].fillna(mean_Rating)

In [54]:
df.isna().sum()

X                 0
App               0
Category          0
Rating            0
Reviews         200
Type            400
Last.Updated      0
Installs          0
dtype: int64

# mode

In [26]:
df['Type'].mode()

0    Free
dtype: object

In [27]:
df['Type'].mode()[0]

'Free'

In [28]:
df['Type']=df['Type'].fillna(df['Type'].mode()[0])

In [29]:
df.isna().sum()

X                 0
App               0
Category          0
Rating            0
Reviews         200
Type              0
Last.Updated      0
Installs          0
dtype: int64

# imputing missing value (Type feature)

In [55]:
import numpy as np
import pandas as pd
import random

In [31]:
df = pd.read_csv("googleplaystore.csv", na_values = "#")

In [56]:
df.describe(include = "all")

,X,App,Category,Rating,Reviews,Type,Last.Updated,Installs
count,10839.000000,10839,10839,10839.000000,1.063900e+04,10439,10839,10839
unique,NaN,9658,33,NaN,NaN,2,1377,22
top,NaN,ROBLOX,FAMILY,NaN,NaN,Free,8/3/2018,"1,000,000+"
freq,NaN,9,1971,NaN,NaN,9671,326,1579
mean,5419.189962,NaN,NaN,4.191519,4.476114e+05,NaN,NaN,NaN
std,3129.379024,NaN,NaN,0.478929,2.952909e+06,NaN,NaN,NaN
min,0.000000,NaN,NaN,1.000000,0.000000e+00,NaN,NaN,NaN
25%,2709.500000,NaN,NaN,4.100000,3.700000e+01,NaN,NaN,NaN
50%,5419.000000,NaN,NaN,4.200000,2.062000e+03,NaN,NaN,NaN
75%,8128.500000,NaN,NaN,4.500000,5.404850e+04,NaN,NaN,NaN
max,10840.000000,NaN,NaN,5.000000,7.815831e+07,NaN,NaN,NaN

In [57]:
observed_Type = df.describe(include = "all").loc['count','Type']
observed_Type

10439

In [59]:
df["Type"].value_counts()

Free    9671
Paid     768
Name: Type, dtype: int64

In [60]:
darsad = df["Type"].value_counts() / observed_Type
darsad

Free    0.92643
Paid    0.07357
Name: Type, dtype: float64

In [61]:
missed_Type = np.sum(df["Type"].isna())
missed_Type

400

In [68]:
free = np.round(darsad["Free"] * missed_Type)
free

371.0

In [69]:
paid = np.round(darsad["Paid"] * missed_Type)
paid

29.0

In [64]:
lst = []
for i in range(0, free):
    
    lst.append("Free")
    
for i in range(0, paid):
    
    lst.append("Paid")

random.shuffle(lst)

In [65]:
len(lst)

400

In [66]:
missed_indices = np.where(df["Type"].isna())[0]
counter = 0       
for i in missed_indices:
    
    df.loc[i, "Type"] = lst[counter]
    counter += 1

Free    10042
Paid      797
Name: Type, dtype: int64

In [70]:
df["Type"].value_counts()

Free    10042
Paid      797
Name: Type, dtype: int64

In [67]:
df.isna().sum()

X                 0
App               0
Category          0
Rating            0
Reviews         200
Type              0
Last.Updated      0
Installs          0
dtype: int64

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer,KNN

In [ ]:
x=train[['SibSp','Fare','Age']]
Impute_it = IterativeImputer()
x=Impute_it.fit_transform(x)
train[['SibSp','Fare','Age']]=x

In [ ]:
Impute_knn = KNNImputer(n_neighbors=2)
Impute_knn.fit_transform('LotFrontage')