In [10]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
df=pd.read_csv('housing.csv')
df.head()

  Housing_Type Influence Contact  Satisfaction
0  Tower_Block       low     low             1
1  Tower_Block       low     low             1
2  Tower_Block       low     low             1
3  Tower_Block       low     low             1
4  Tower_Block       low     low             1

In [11]:
categorical_vars=(df.select_dtypes(include=['object']))
categorical_vars.head()

  Housing_Type Influence Contact
0  Tower_Block       low     low
1  Tower_Block       low     low
2  Tower_Block       low     low
3  Tower_Block       low     low
4  Tower_Block       low     low

In [3]:
np.unique(df['Housing_Type'])

array(['Apartments', 'Atrium_houses', 'Terraced_houses', 'Tower_Block'],
      dtype=object)

In [4]:
np.unique(df['Influence'])

array(['high', 'low', 'medium'], dtype=object)

In [5]:
np.unique(df['Contact'])

array(['high', 'low'], dtype=object)

In [12]:
df['Influence']=df['Influence'].map({'high':2,'medium':1,'low':0})

In [8]:
df['Contact']=df['Contact'].map({'low':0,'high':1})

In [13]:
df['Contact']=np.where(df['Contact']=='low',0,1)

# Prepared Functions

In [40]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
df=pd.read_csv('housing.csv')

# 1.LabelEncoder

In [19]:
encoder=LabelEncoder()
df['Housing_Type']=encoder.fit_transform(df['Housing_Type'])
df.head()

   Housing_Type Influence Contact  Satisfaction
0             3       low     low             1
1             3       low     low             1
2             3       low     low             1
3             3       low     low             1
4             3       low     low             1

# 2.OneHotEncoder in SKlearn & Pandas

In [21]:
one_hot=OneHotEncoder()
df1=one_hot.fit_transform(df).toarray()
df1

array([[0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 1., ..., 0., 0., 1.],
       [0., 0., 1., ..., 0., 0., 1.],
       [0., 0., 1., ..., 0., 0., 1.]])

In [23]:
df2=pd.get_dummies(df)
df2.head()

,Satisfaction,Housing_Type_Apartments,Housing_Type_Atrium_houses,Housing_Type_Terraced_houses,Housing_Type_Tower_Block,Influence_high,Influence_low,Influence_medium,Contact_high,Contact_low
0,1,0,0,0,1,0,1,0,0,1
1,1,0,0,0,1,0,1,0,0,1
2,1,0,0,0,1,0,1,0,0,1
3,1,0,0,0,1,0,1,0,0,1
4,1,0,0,0,1,0,1,0,0,1

# 3.Countvectorizer

In [41]:
from sklearn.feature_extraction.text import CountVectorizer

In [42]:
vectorizer=CountVectorizer()

In [45]:
df3=vectorizer.fit_transform(df['Housing_Type']).toarray()
df3

array([[0, 0, 0, 1],
       [0, 0, 0, 1],
       [0, 0, 0, 1],
       ...,
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0]])